*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  direction: rtl;
}

.form {
  width: 50%;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.border-red {

  outline: 3px solid red;
  outline-offset: -1.5px;
}


.border-green {

  outline: 3px solid green;
  outline-offset: -1.5px;
}